.footer-container {
    background-color: var(--darck-color);
    color: var(--grey-color);
    font-size: 20px;
    padding: 35px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}